{% extends 'experience/home.html' %}
{% load crispy_forms_tags %}

{% block title %}
Experience Create
{% endblock %}


{% block content %}
<br><br><br>
<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <button type="button" class="close modal-close ml-auto" data-dismiss="modal" aria-label="Close"><a href="{% url 'home' %}"><span aria-hidden="true">×</span></a></button>

    <h3>Add Experience</h3>
    </div>
    <div class="card-body">
      <div class="container">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{form.company|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{form.experience_type|as_crispy_field}}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{form.recruitement_process|as_crispy_field}}
            </div>
            
          </div>
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Next</button>
          </div>
          <hr>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
