{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="font-family:'Monoton', cursive; font-size:1.2em;" href="{% url 'home' %}">Placement Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class='navbar-nav mx-auto'>
        <li class="nav-item active"><a class="nav-link" href="{% url 'experience:create_experience' %}">Create</a></li>
        
      </ul>

      <div class="col-sm-3 col-md-4">
        <form action={% url 'experience:search_experience' %} method="post" class="navbar-form">
        <div class="input-group">
            <!-- <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"> -->
            <div value={{searchvalue}}>
              {{searchform.pattern}}
            </div>
            
            <div class="input-group-btn">
              <button class="btn" type="submit"><i class="fa fa-search" aria-hidden="true" style="font-size:24px;color:white"></i></button>
            </div>
        </div>
        </form>
        </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          
          <li class="nav-item active">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{request.user.username}}
            </a>
          
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:user_logout' %}">Logout<span class="sr-only">(current)</span></a>
          </li>
  
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:user_login' %}">Login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'account:user_signup' %}">Sign Up<span class="sr-only">(current)</span></a>
          </li>
  
          {% endif %}
        </ul>
        
        

      </div>
    </nav>
  

    <br><br><br><br>
    {% if messages %}
    {% for message in messages %}
    <div class="container">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    
    
<br>
    <div class="col-md-12">

      <div class="container">
        <div class="row">
          <div class="card-group ">
            <!-- <div class="col-md-4"> -->
          {% for experience, f in experiences %}
            <div class="col-md-4">
    
              <div class="card text-white border-secondary mx-auto mb-5 w-100" style='background-color:rgb(0, 102, 153); '>
           
                  <div class="card-body" style='border: 1px solid rgb(23, 38, 87) '>
                    <div class="card-title text-center">
    
                    </div>
                    <div class="card-text">
                      <h5 style="text-align:center">{{experience.user.username}}</h5>
                      <div >
                        <h8 style="text-align:left"> {{experience.experience_type}} 
                          <span><h6> {{experience.company}}</h6></span></h8>
                      </div>
                      
                      <h6>Number of rounds : {{experience.recruitement_process}}</h6>
                      
                      {% if f == 1 %}
                        <form action={% url 'experience:bookmark_experience' experience.pk %} method="post">
                          {% csrf_token %}
                          {{form}}
                          <!-- <button type="submit" class="btn btn-primary btn-lg">Bookmark</button> -->
                          <div style="position: absolute; right: 2px;">
                            <button class="btn" type="submit"><i class="fa fa-bookmark" aria-hidden="true" style="font-size:30px;color:yellow"></i></button>
                          </div>
                          
                        </form>
                      {% else %}
                        <form action={% url 'experience:bookmark_experience' experience.pk %} method="post">
                          {% csrf_token %}
                          {{form}}
                          <div style="position: absolute; right: 2px;">
                            <button class="btn" type="submit"><i class="fa fa-bookmark" aria-hidden="true" style="font-size:36px;color:white"></i></button>
                          </div>
                        </form>
                      {% endif %}

                      <br>
                      
                    </div>
                  </div>
              </div>
            </div>
          {% endfor %}
          
          </div>
        </div>
    
    
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
